build/
*.egg-info/

__pycache__
.ipynb_checkpoints
.pytest_cache
.cache

#Ignore Schizophrenia data
scz/

#Ignore text editors temporary files
.vscode/

#Large data files
PCNet_kernel.hdf
GIANT.cx

#Mac folders
*.DS_Store

instance/
